.groupname{
    font-size: xx-large;
}
.group{
    background-color: rgb(246, 246, 246);
    border: 0px;
}
.group:focus{
    background-color: rgb(42, 140, 238);
    color:white;
}
input{
    outline: none;
}
.foo{
    min-height: 800px;
}

.todoinput{
    border: 0px;
    width: 600px;
    margin-left: 23px;
}
.todoinput:focus{
    border-bottom: 1px solid rgb(237, 237, 238);
}

.todo{
    border: 0px;
    border-bottom: 1px solid rgb(237, 237, 238);
    width: 600px;
}
.todo:focus{
    background-color: rgb(240,240,240)
}
.left-col{
    border-right: 1px solid rgb(223,223,223);
    background-color: rgb(246, 246, 246)
}

.addlist {
    border: 0px;
    background-color: rgb(246, 246, 246);

}

.search{
    border-radius: 5px;
    background-color: rgb(214,214,214);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: start;
}
.searchimg{
    width: 25px;
}
.plusbtn{
    width: 30px;
    height: 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: serif;
}

.cbox {
    margin-right: 10px;
  }
